.git
.gitignore
.dockerignore
.DS_Store
.env
.env.*
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.scratch
__pycache__
*.py[cod]
audit-reports
build
dist
htmlcov
secrets
tests
*.egg-info
*.kubeconfig
coverage.xml
